@{
    ViewData["Title"] = "Восстановление пароля";
}
 @model Shop_ex.Models.CartOrderModel

<h2 style="color: #ffe2bed9;">Сброс пароля</h2>

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="ResetPassword.Token" />
    <div class="form-group">
        <label asp-for="ResetPassword.NewPassword" style="color: #ffe2bed9;">Введите новый пароль:</label>
        <input asp-for="ResetPassword.NewPassword" class="form-control" type="password" />
        <span asp-validation-for="ResetPassword.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ResetPassword.ConfirmPassword" style="color: #ffe2bed9;">Повторите новый пароль:</label>
        <input asp-for="ResetPassword.ConfirmPassword" class="form-control" type="password" />
        <span asp-validation-for="ResetPassword.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-warning my-2 my-sm-2">Сохранить новый пароль</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}