@{
    ViewData["Title"] = "О компании";
}

<div class="container" style="color:coral">    
    <h1>@ViewData["Title"]</h1>
    <p>Равным образом, высококачественный прототип будущего проекта требует определения и уточнения вывода текущих активов. Кстати, тщательные исследования конкурентов, 
        вне зависимости от их уровня, должны быть представлены в исключительно положительном свете. В рамках спецификации современных стандартов, элементы политического 
        процесса будут заблокированы в рамках своих собственных рациональных ограничений.
    </p>

    <p>Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности предполагает независимые способы реализации 
        стандартных подходов. Лишь интерактивные прототипы, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут 
        представлены в исключительно положительном свете. С другой стороны, постоянное информационно-пропагандистское обеспечение нашей деятельности способствует 
        повышению качества своевременного выполнения сверхзадачи.
    </p>
    <a class="dg-widget-link" href="http://2gis.ru/barnaul/firm/563478235140165/center/83.75985145568849,53.364177341903996/zoom/14?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Барнаула</a>
    <div class="dg-widget-link">
        <a href="http://2gis.ru/barnaul/firm/563478235140165/photos/563478235140165/center/83.75985145568849,53.364177341903996/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a>
    </div>
    <div class="dg-widget-link">
        <a href="http://2gis.ru/barnaul/center/83.766132,53.357614/zoom/14/routeTab/rsType/bus/to/83.766132,53.357614╎Штутгарт, магазин автозапчастей для немецких автомобилей?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Штутгарт, магазин автозапчастей для немецких автомобилей</a>
    </div>

<script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
<script charset="utf-8">new DGWidgetLoader({"width":640,"height":600,"borderColor":"#a3a3a3","pos":{"lat":53.364177341903996,"lon":83.75985145568849,"zoom":14},"opt":{"city":"barnaul"},"org":[{"id":"563478235140165"}]});</script>
<noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
</div>
